.header {
    background-color: #e85a4f;
    padding: 0px 20px;
    color: white;
    height: 60px;
  }
  
  .header-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-section {
    display: flex;
    align-items: center;
    position: relative;
  }
  .user-section span{
    padding:0 6px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    text-align: center;
  }

  .dropdown-menu p{
    margin: 0;
  }