.containers{
    display: flex;
    position: absolute;
    top: 60px;
    width: 100%;
}
.dashboard{
    margin-left: 210px; /* Adjust as needed */
    padding: 20px;
    margin-top: 60px; /* Adjust as needed */
}